<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ObservadorS</servlet-name>
        <servlet-class>Controlador.ObservadorS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorS</servlet-name>
        <servlet-class>Controlador.ProfesorS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsistenciaS</servlet-name>
        <servlet-class>Controlador.AsistenciaS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaDAO</servlet-name>
        <servlet-class>Dao.NotaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaS</servlet-name>
        <servlet-class>Controlador.NotaS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsistenciaS</servlet-name>
        <url-pattern>/AsistenciaS</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerListaAsistenciaS</servlet-name>
        <servlet-class>Controlador.VerListaAsistenciaS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerListaAsistenciaS</servlet-name>
        <url-pattern>/VerListaAsistenciaS</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EstudianteS</servlet-name>
        <servlet-class>Controlador.EstudianteS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObservadorS</servlet-name>
        <url-pattern>/ObservadorS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorS</servlet-name>
        <url-pattern>/ProfesorS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstudianteS</servlet-name>
        <url-pattern>/EstudianteS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaDAO</servlet-name>
        <url-pattern>/NotaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaS</servlet-name>
        <url-pattern>/NotaS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
